body{overflow-x:hidden;font: normal 14px/18px helvetica, arial, sans-serif; color: #414240; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;}
  .input-wrapper{overflow: hidden; display: block; position: relative;}
    #query{height: 19px; float:left; display: inline-block; border: 3px solid #A9ADA8; width:220px; padding: 6px 12px 5px 12px; font: normal 14px/18px helvetica, arial, sans-serif; color: #414240; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; border-radius: 18px; }
    #query:focus{outline: none;}
  #search-query{display: block; text-align: left; margin-left: 10px; color:black; font-size: 17px; font-family: Helvetica, Helvetica Neue, "Helvetica Neue"; font-weight: bold;}
  #loader{width:16px; height:16px; position: absolute; right:18px; top: 10px; visibility: hidden;}
  .button{display: none;}
  ul{display: block; clear:both; margin:0; padding:0;}
    ul li{font-size:15px; color:#333333; display: block; width:100%; line-height:24px; margin-left:10px; width:100%; position:relative;}
    ul li .bg{width:15px; height:15px; display: block; float:left;}
    ul .available .bg{background: url("images/available.png")  0 7px no-repeat; width: 15px; height:19px; display: block; float:left; margin-left:10px;}
    ul .nothing .bg{width: 15px; height:19px; display: block; float:left; margin-left:10px;}
    ul .maybe .bg{background: url("images/maybe.png") 0 7px no-repeat; width: 15px; height:19px; display: block; float: left; margin-left:10px;}
      ul li a{color:#2870B0; text-decoration: none; width:100%; display: block;}
      .loader-sub{position:absolute; right: 38px; top:4px;}
      ul li a:hover{background: url("images/grey.png") no-repeat left top; cursor: pointer;}
      #results-info a:hover{background: none; text-decoration: underline; cursor: pointer;}
      #results-info h3{margin-top: 11px; text-align: center; display: block; width: 340px;}
        #results-info .available{color:#23B000 !important; text-shadow: rgba(100%, 100%, 100%, 1.0) 0 1px 2px; font-size: 24px;}
      ul li a.active{background: url("images/blue.png") no-repeat left top; color:#ffffff;}
  #left{float:left; width:250px; padding-bottom: 10px;}
  #results-info{float:right; width:510px; display: none;}
    .register-stuff{overflow: hidden;}
    .right{float:right;}
    .extension{float:right; font-size:13px; margin-right: 70px;}
    #load-more{color:#6C9DC9; font-size:12px; line-height: 18px;}
    abbr{float:left;}
    #results-info h4{margin-bottom: 9px; font-size: 16px; font-weight: bold; vertical-align: top; margin-top: 0;}
    #results-info .sections > li{position: relative; float: left; width: 140px; border-left: 1px solid #A9ADA8; padding-left: 9px; margin-right: 10px;}
      #results-info .sections li ul li{margin-left:0; line-height: 20px;}
        #results-info .sections li ul li a{font-size:13px; display: inline;}
  #footer{overflow: hidden; font-size: 11px; color: #666; height:20px; clear:both; margin-right:15px;}
    #footer p{margin:0; padding:0; text-align:right;}
      #footer p a{color:#666;}
      #footer p a:hover{color:#333333;}